<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Joc boles1</name>
    <description>
        Joc fet amb phaser pel curs de creando apps.
    </description>
    <author email="peptor@gmail.com">
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Orientation" value="portrait" />
</widget>
